{% for key, type in typeTable %}
    {% if type %}
        <a href={{ url( link ,{'type': key}) }}>
            <button data-toggle="filter-badge" data-id="filter-{{ key }}" value="show"
                    class="badge badge-primary py-1 mx-2 my-1">{{ key }}</button>
        </a>
    {% else %}
        <a href={{ url( link ,{'type': key}) }}>
            <button data-toggle="filter-badge" data-id="filter-{{ key }}" value="hide"
                    class="badge badge-dark py-1 mx-2 my-1">{{ key }}</button>
        </a>
    {% endif %}
{% endfor %}
