    <div style="">
        <h6>
            Size: <b class="text-primary">{{ size.name }}</b>
        </h6>
        <hr>
        <b>Approximately:</b><br><br>
        Near Height Or Length : <i class="text-primary">{{ size.nearHeightOrLength }}</i><br>
        Near Weight : <i class="text-primary">{{ size.nearWeight }}</i><br>
        Near Space : <i class="text-primary">{{ size.nearSpace }}</i><br>
        Natural Reach Tall : <i class="text-primary">{{ size.naturalReachTall }}</i><br>
        Natural Reach Long : <i class="text-primary">{{ size.naturalReachLong }}</i><br>
        <hr>
    </div>
