<li class="nav-item">
    {% if active_page is same as page_identifier %}
        {% set active = "active" %}
    {% endif %}
    <a class="nav-link {{ active|default('') }}" href="{{ a_link|default('#') }}" target="{{ (page_identifier is same as 'externalPage') ? '_blank' : '' }}">
        <i class="{{ fas_class|default('fas fa-layer-group')}} {{ fa_size|default('fa-lg') }}  px-2 "></i>
        <span class="d-none d-lg-inline ">{{ text }}</span>
    </a>
</li>
